body,
html {
    margin: 0;
    padding: 0;
}

#editor {
    width: 800px;
    height: 400px;
    .hbs_editor_main {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        box-sizing: border-box;
        .hbs_toolbar {
            width: 100%;
            background: #ccc;
            .toolbar_btn {
                padding: 5px;
                display:inline-block;
                img {
                    width: 15px;
                }
            }
        }
        .hbs_edit_container {
            // height: 270px;//整个高度 - 工具栏高度
            font-size: 14px;
            overflow: auto;
            .editarea {
                // background: #eee;
                blockquote {
                    border-left: 6px solid red;
    padding: 5px 0 5px 10px;
    margin: 15px 0 15px 5px;
                }
            }
        }
    }
}